@font-face {
    font-family: Micro5;
    src: url(./fonts/Micro5-Regular.ttf);
}
@font-face {
    font-family: Honk;
    src: url(./fonts/Honk-Regular.ttf);
}
@font-face {
    font-family: Archivo;
    src: url(./fonts/Archivo-Bold.ttf);
}

@media screen and (min-width: 1400px) and (min-height: 700px) {
    :root {
        --question_size: 100px;
        --reponse_size: 75px;
        --question_number_size: 50px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 900px) and (min-height: 700px) {
    :root {
        --question_size: 80px;
        --reponse_size: 70px;
        --question_number_size: 50px;
    }
}

@media screen and (min-width: 900px) and (min-height: 300px) and (max-height: 700px) {
    :root {
        --question_size: 35px;
        --reponse_size: 25px;
        --question_number_size: 15px;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) and (min-height: 550px) {
    :root {
        --question_size: 50px;
        --reponse_size: 40px;
        --question_number_size: 25px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) and (min-height: 550px) {
    :root {
        --question_size: 35px;
        --reponse_size: 25px;
        --question_number_size: 15px;
    }
}

@keyframes background-button {
    from {
        background-color: #50C4ED;
    }
    50% {
        background-color: #387ADF;
    }
    to {
        background-color: #333A73;
    }
}

@keyframes background-body {
    from {
        background-color: rgb(20, 20, 20);
    }
    to {
        background-color: #000000;
    }
}

body {
    animation: 10s alternate infinite background-body;
    color: white;
}

.questions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.question {
    font-family: Honk, serif;
    font-size: var(--question_size);
    margin: 0;
    padding: 0;
}

.questions ul {
    padding: 0;
    margin: 0;
}

.questions li {
    font-family: Archivo, sans-serif;
    font-size: var(--reponse_size);
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    animation: 4s infinite alternate background-button;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
}

.questions li:hover {
    color: #000000;
    transform: scale(112%);
    transition: ease-in-out 0.25s;
}

.questions a {
    text-decoration: none;
    color: #ffffff;
}

.questionNumber {
    font-family: Micro5, sans-serif;
    font-size: var(--question_number_size);
    margin: 0;
}